<div class="file-upload-wrapper">
    <input type="file" id="input-file-now" class="file-upload" />
</div>

<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Paste text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>